* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
*:focus {
  outline: none;
}
:root {
  --main-bg-color: #ffffff;
  --primary-font-color: #1c1d1f;
  --secondary-font-color: #95999c;
  --primary-border-color: #1c1d1f;
  --secondary-border-color: #d1d7dc;
  --logo-color: #b55bf3;
  --rating-color: #e59819;
}
.bold {
  font-weight: bold;
}
.margin-bottom-8 {
  margin-bottom: 8px;
}
.margin-bottom-12 {
  margin-bottom: 12px;
}
.margin-bottom-28 {
  margin-bottom: 28px;
}
.primary-font-color {
  color: var(--primary-font-color);
}
.secondary-font-color {
  color: var(--secondary-font-color);
}
.primary-border-color {
  border: 1px solid;
  border-color: var(--primary-border-color);
}
.secondary-border-color {
  border: 1px solid;
  border-color: var(--secondary-border-color);
}
.rating-color {
  color: var(--rating-color);
}
.flex-horizontal {
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: var(--primary-font-color);
}
h1 {
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 17px;
  font-size: 32px;
  font-weight: 700;
}
h2 {
  margin-bottom: 15px;
}
h4 {
  font-size: 16px;
  font-weight: bold;
}
h5 {
  font-weight: 100;
  font-size: 12px;
}
p {
  margin-bottom: 12px;
}
.home-bar {
  position: relative;
  box-shadow: 0px 10px 20px var(--secondary-border-color);
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  border-bottom: 1px var(--secondary-border-color) solid;
}
.nav-bar .bars-icon {
  display: none;
}
.nav-bar .search-icon {
  display: none;
}
.logo img {
  height: 35px;
}
.nav-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 18px 45px;
  border-bottom: 1px var(--secondary-border-color) solid;
}
.option {
  font-size: small;
  background-color: transparent;
}
.option a {
  text-decoration: none;
}

.option a:visited {
  text-decoration: none;
  color: var(--main-font-color);
}

.option a:hover {
  text-decoration: none;
  color: var(--logo-color);
}

.option a:active {
  text-decoration: none;
}
.option i {
  font-size: 20px;
}
.search-bar {
  background-color: #f7f9fa;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 46px;
  width: 40%;
  border: 1px var(--primary-border-color) solid;
  border-radius: 25px;
}
#search-btn {
  background-color: transparent;
  border: none;
  padding: 12px 12px;
  color: var(--secondary-font-color);
}
.input-field {
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  width: 160px;
  color: var(--primary-font-color);
  caret-color: var(--primary-font-color);
}
.billboard {
  position: relative;
}
.billboard img {
  width: 100%;
}
.billboard-content {
  background-color: white;
  position: absolute;
  top: 64px;
  left: 72px;
  width: 380px;
  padding: 28px 28px;
  box-shadow: 5px 5px 30px var(--secondary-font-color);
}
.billboard-content p {
  font-family: sans-serif;
  font-size: 19px;
}
.page-wrapper {
  padding: 45px 25px;
}
.tabs {
  width: 100%;
}
.tabs ul {
  display: flex;
  list-style-type: none;
  justify-content: left;
}
.tabs li {
  margin-right: 2%;
}
.tabs li:hover {
  color: var(--primary-font-color);
  cursor: pointer;
}
.tabs li:active {
  color: var(--logo-color);
}
.page-paragraph {
  width: 70%;
}
.courses {
  padding: 18px;
}
.explore-btn {
  padding: 10px;
  background-color: transparent;
}
.explore-btn:hover {
  background-color: var(--logo-color);
}
.courses-carousel {
  display: flex;
  flex-wrap: wrap;
}
.course-card {
  width: 20%;
  min-width: 180px;
}
.course-card a {
  text-decoration: none;
}
.course-card img {
  max-width: 95%;
}
.rating {
  width: 100px;
  font-size: 12px;
}
.categories {
  padding: 24px;
}
.cat {
  width: fit-content;
}
.cat img {
  padding-bottom: 10px;
  max-width: 100%;
}
.col {
}
@media only screen and (max-width: 1200px) {
  .nav-options .option10 {
    display: none;
  }
  .billboard-content {
    top: 32px;
    left: 48px;
    width: 350px;
  }
  .billboard-content p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1100px) {
  .nav-options .option9 {
    display: none;
  }
  .nav-bar .option2 {
    display: none;
  }
  .billboard-content {
    top: 32px;
    left: 48px;
    width: 300px;
    padding: 24px;
  }
  .billboard-content p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1000px) {
  .nav-options .option8 {
    display: none;
  }
  .nav-bar .option3 {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  .nav-options .option7 {
    display: none;
  }
  .nav-bar .heart-icon {
    display: none;
  }
  .nav-bar .bell-icon {
    display: none;
  }
  .courses-carousel {
    gap: 5px;
  }
  .course-card {
    min-width: 200px;
  }
}
@media only screen and (max-width: 850px) {
  .nav-options .option6 {
    display: none;
  }
  .billboard-content {
    top: 24px;
    left: 48px;
    width: 300px;
    padding: 22px;
  }
}
@media only screen and (max-width: 800px) {
  .nav-options {
    display: none;
  }
  .nav-bar .option1 {
    display: none;
  }
  .nav-bar .option4 {
    display: none;
  }
  .nav-bar .user-icon {
    display: none;
  }
  .nav-bar .search-bar {
    display: none;
  }
  .logo {
    width: 80%;
    display: flex;
    justify-content: center;
  }
  .logo img {
    height: 30px;
  }
  .nav-bar .bars-icon {
    display: block;
  }
  .nav-bar .search-icon {
    display: block;
  }
  .tabs .tab7 {
    display: none;
  }
  .billboard-content {
    position: static;
    box-shadow: none;
    width: 100%;
  }
  .page-wrapper {
    padding: 0px 24px;
  }
}
@media only screen and (max-width: 700px) {
  .tabs .tab6 {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .tabs .tab5 {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .tabs ul {
    justify-content: center;
  }
  .tabs li {
    margin-right: 5%;
  }
  .tabs .tab4 {
    display: none;
  }
  .page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .courses-carousel {
    justify-content: center;
  }
  .course-card {
    width: 70%;
  }
  .courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .page-paragraph {
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
  }
}
